
    <div class="container" >

     

      
        <div class="row">
          <div class="col-lg-6" >
              <h1 style="text-align: center; color: rgb(191, 142, 236); font-family:Arial, Helvetica, sans-serif; margin-top: 20px; margin-right: 0;">Contact Our</h1>
              <h3 style="text-align: center;font-family:Arial, Helvetica, sans-serif;">Customer Support Center</h3>
          </div>
          <div class="col-lg-3">
              <img src="assets/images/MarvellousImage.jpeg" style="display: inline;">
          </div>
          
      </div>
      <div align="center">
      <label> <h3>Contact Information</h3> </label>
      <p>Please fill out your contact information below.</p>
      </div>

        <form [formGroup]="customerform"  >

          

          <label> <strong> Your name <font color="red">*</font></strong></label>
          <br>
                <div class="row">
                 <div class="col">
                  <input type="text" 
                  class="form-control" 
                  name="name" 
                  formControlName="name"
                  id="name"
                  required
                  [class.is-invalid] = "customerform.get('name').invalid && customerform.get('name').touched"
                  >
                  <app-error-message [control]="customerform.get('name')"></app-error-message>
                 </div>
             
                </div>
                <br>

                <label><strong> Email <font color="red">*</font></strong></label>
                <input type="email" 
                class="form-control"
                name="email" 
                formControlName="email"
                required
                [class.is-invalid] = "customerform.get('email').invalid && customerform.get('email').touched"
                >  
                <app-error-message [control]="customerform.get('email')"></app-error-message>
                <br>

                <label><strong> Phone <font color="red">*</font></strong></label>
                <input type="email" 
                class="form-control"
                name="phone" 
                formControlName="phone"
                required
                [class.is-invalid] = "customerform.get('phone').invalid && customerform.get('phone').touched"
                >   
                <app-error-message [control]="customerform.get('phone')"></app-error-message>
                <br>

                <div class="row">
                  <div class="col">
                      <label><Strong>City<font color="red">*</font></Strong></label>
                      <input type="text" 
                      name="city"
                      class="form-control" 
                      required  
                      formControlName="city"
                      [class.is-invalid] = "customerform.get('city').invalid && customerform.get('city').touched"
                      >
                      <app-error-message [control]="customerform.get('city')"></app-error-message>
                  </div>
                    <div class="col">
                    <label><Strong>State<font color="red">*</font></Strong></label>
                    <select
                    class="custom-select"
                    name="state"
                    formControlName="state"
                    [class.is-invalid] = "customerform.get('state').invalid && customerform.get('state').touched"
                    required
                    >
                     <option selected>Maharashtra</option>
                     <option *ngFor="let value of state" [value]="value">{{value}}</option>     
                      </select>
                    <app-error-message [control]="customerform.get('state')"></app-error-message>
                    </div>
                    <div class="col">
                    <label><Strong>ZipCode<font color="red">*</font></Strong></label>
                    <input type="text"
                    class="form-control"  
                    name="zipcode" 
                    required 
                    formControlName="zipcode"
                    [class.is-invalid] = "customerform.get('zipcode').invalid && customerform.get('zipcode').touched"
                    >
                    <app-error-message [control]="customerform.get('zipcode')"></app-error-message>
                   </div>

                </div>

                
                <br>

                  <label ><strong>Comments</strong></label>
                  <textarea class="form-control" 
                  rows="7"
                  required
                  formControlName="comments"
                  name="comments"
                  [class.is-invalid] = "customerform.get('comments').invalid && customerform.get('comments').touched"
                  ></textarea>
                  <app-error-message [control]="customerform.get('comments')"></app-error-message>

                
                  <br>

                  <button 
                   class="btn btn-primary btn-md btn-block" 
                   type="submit"
                  >Submit </button>
              
               <br>
               <br>
               
         </form>
 


 
  </div>

